@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav__logo a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, black, black);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.nav__logo {
  font-size: 25px;
  font-weight: bold;
}

.nav__menu {
  z-index: 2;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav__menu a {
  text-decoration: none;
  color: white;
}
.nav__menu button {
  background: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav__menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}

.nav__menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav__menu-toggle {
  display: none;
}

.nav__menu-button,
.nav__menu-button::before,
.nav__menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.nav__menu-button::before {
  content: "";
  margin-top: -8px;
}

.nav__menu-button::after {
  content: "";
  margin-top: 8px;
}

#nav__menu-toggle:checked + .nav__menu-button-container .nav__menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#nav__menu-toggle:checked + .nav__menu-button-container .nav__menu-button {
  background: rgba(255, 255, 255, 0);
}

#nav__menu-toggle:checked + .nav__menu-button-container .nav__menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .nav__menu-button-container {
    display: flex;
  }
  .nav__menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #nav__menu-toggle ~ .nav__menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #nav__menu-toggle:checked ~ .nav__menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .nav__menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .nav__menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.nav__menu__contact {
  border: none;
}

.contact {
  position: absolute;
  top: 0;
  z-index: 12;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.contact__el {
  height: 50%;
  width: 80%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.contact__el h1 {
  position: absolute;
  top: 10%;
  font-size: 40px;
}
.contact__el button {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: 1px solid red;
  border-radius: 50%;
  color: red;
  background-color: white;
  cursor: pointer;
  transition: 0.3s linear;
}
.contact__el button:hover {
  background-color: red;
  color: white;
}
.contact__el li {
  font-size: 25px;
}
@media (min-width: 300px) {
  .contact__el {
    line-height: 20px;
    height: 40%;
  }
  .contact__el h1 {
    font-size: 30px;
  }
  .contact__el button {
    font-size: 20px;
  }
  .contact__el li {
    font-size: 14px;
  }
}
@media (min-width: 400px) {
  .contact__el {
    line-height: 22px;
    height: 45%;
  }
  .contact__el h1 {
    font-size: 35px;
  }
  .contact__el button {
    font-size: 25px;
  }
  .contact__el li {
    font-size: 20px;
  }
}
@media (min-width: 550px) {
  .contact__el {
    line-height: 25px;
    height: 50%;
  }
  .contact__el h1 {
    font-size: 40px;
  }
  .contact__el button {
    font-size: 25px;
  }
  .contact__el li {
    font-size: 25px;
  }
}
@media (min-width: 750px) {
  .contact__el {
    line-height: 25px;
    height: 55%;
    width: 70%;
  }
  .contact__el h1 {
    font-size: 45px;
  }
  .contact__el button {
    font-size: 30px;
  }
  .contact__el li {
    font-size: 30px;
  }
}
@media (min-width: 1000px) {
  .contact__el {
    line-height: 30px;
    height: 65%;
    width: 60%;
  }
  .contact__el h1 {
    font-size: 50px;
  }
  .contact__el button {
    font-size: 35px;
  }
  .contact__el li {
    font-size: 35px;
  }
}
@media (min-width: 1300px) {
  .contact__el {
    line-height: 35px;
    height: 70%;
    width: 40%;
  }
  .contact__el h1 {
    font-size: 50px;
  }
  .contact__el button {
    font-size: 35px;
  }
  .contact__el li {
    font-size: 28px;
  }
}
@media (min-width: 1700px) {
  .contact__el {
    line-height: 40px;
    height: 70%;
    width: 35%;
  }
  .contact__el h1 {
    font-size: 50px;
  }
  .contact__el button {
    font-size: 35px;
  }
  .contact__el li {
    font-size: 30px;
  }
}
@media (max-height: 450px) {
  .contact__el {
    line-height: 12px;
    height: 70%;
    width: 50%;
  }
  .contact__el h1 {
    font-size: 35px;
  }
  .contact__el button {
    font-size: 25px;
  }
  .contact__el li {
    font-size: 20px;
  }
}
@media (max-width: 285px) {
  .contact__el {
    line-height: 12px;
    height: 40%;
    width: 80%;
  }
  .contact__el h1 {
    font-size: 30px;
  }
  .contact__el button {
    font-size: 15px;
  }
  .contact__el li {
    font-size: 10px;
  }
}

main {
  font-family: "Nova Square", cursive;
  height: 1200px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 600px) {
  main {
    height: 1400px;
  }
}
@media (min-width: 800px) {
  main {
    height: 1400px;
  }
}
@media (min-width: 1000px) {
  main {
    height: 1700px;
  }
}
@media (min-width: 1100px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    height: 94.5vh;
  }
}

.main__form {
  background-color: white;
  border: 1px solid silver;
  border-radius: 20px;
  height: 400px;
  margin: 5% 5% 0% 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px silver;
}
@media (min-width: 1100px) {
  .main__form {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 90%;
    margin: 26px 5% 0% 5%;
  }
}
@media (min-width: 600px) {
  .main__form {
    height: 500px;
  }
}
@media (min-width: 1000px) {
  .main__form {
    height: 550px;
  }
}
@media (min-width: 1100px) {
  .main__form {
    height: 500px;
  }
}
.main__form h1 {
  font-size: 30px;
  margin: 5% auto;
}
@media (min-width: 600px) {
  .main__form h1 {
    font-size: 45px;
  }
}
@media (min-width: 1100px) {
  .main__form h1 {
    margin: 3% auto;
  }
}
.main__form p {
  font-size: 15px;
  margin: 0% auto;
}
@media (min-width: 600px) {
  .main__form p {
    font-size: 20px;
  }
}

.main__form__Add {
  background-color: white;
  height: 235px;
  position: relative;
  top: 4%;
}
@media (min-width: 600px) {
  .main__form__Add {
    height: 300px;
  }
}
@media (min-width: 1100px) {
  .main__form__Add {
    height: 300px;
  }
}
.main__form__Add label {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .main__form__Add label {
    font-size: 35px;
  }
}
@media (min-width: 1100px) {
  .main__form__Add label {
    font-size: 30px;
  }
}
.main__form__Add form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__form__Add form input {
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 600px) {
  .main__form__Add form input {
    margin-top: 25px;
  }
}
@media (min-width: 800px) {
  .main__form__Add form input {
    margin-top: 30px;
  }
}
.main__form__Add form input[type=text] {
  height: 40px;
  width: 85%;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
}
@media (min-width: 600px) {
  .main__form__Add form input[type=text] {
    height: 45px;
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .main__form__Add form input[type=text] {
    width: 750px;
  }
}
@media (min-width: 1100px) {
  .main__form__Add form input[type=text] {
    width: 80%;
  }
}
.main__form__Add form input[type=number] {
  height: 40px;
  width: 85%;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
}
@media (min-width: 600px) {
  .main__form__Add form input[type=number] {
    height: 45px;
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .main__form__Add form input[type=number] {
    width: 750px;
  }
}
@media (min-width: 1100px) {
  .main__form__Add form input[type=number] {
    width: 80%;
  }
}
.main__form__Add form input[type=button] {
  height: 35px;
  width: 60%;
  border-radius: 10px;
  background-color: #a2d2ff;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.main__form__Add form input[type=button]:hover {
  background-color: lightgreen;
}
.main__form__Add form input[type=button]:active {
  transform: scale(1.05);
}
@media (min-width: 600px) {
  .main__form__Add form input[type=button] {
    height: 45px;
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .main__form__Add form input[type=button] {
    width: 500px;
  }
}
@media (min-width: 1100px) {
  .main__form__Add form input[type=button] {
    width: 60%;
    margin-top: 60px;
    width: 250px;
  }
}

.main__form__All {
  background-color: white;
  height: 400px;
  width: 90%;
  margin: 0 5%;
  position: relative;
  top: 5%;
  border: 1px solid silver;
  border-radius: 20px;
  box-shadow: 0 0 15px silver;
}
@media (min-width: 1000px) {
  .main__form__All {
    height: 600px;
  }
}
@media (min-width: 1100px) {
  .main__form__All {
    height: 815px;
    top: 3.2%;
    width: 95%;
    margin-right: 0;
    margin-left: 5%;
  }
}
.main__form__All h2 {
  margin-top: 20px;
}
.main__form__All ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
  height: 300px;
  overflow: auto;
}
@media (min-width: 1000px) {
  .main__form__All ul {
    height: 500px;
  }
}
@media (min-width: 1100px) {
  .main__form__All ul {
    height: 720px;
  }
}
.main__form__All ul li {
  width: 90%;
  margin: 2px 5% 12px 5%;
  border-radius: 15px;
  list-style-type: none;
  border: 1px solid silver;
  position: relative;
}
.main__form__All ul li i {
  position: absolute;
  top: 35%;
  right: 8px;
  font-size: 10px;
  border: 1px solid black;
  padding: 5px 7px;
  border-radius: 50%;
  color: red;
  border-color: red;
  cursor: pointer;
}
.main__form__All ul li i:active {
  transform: scale(1.05);
}
@media (min-width: 600px) {
  .main__form__All ul li i {
    font-size: 20px;
    padding: 6px 8px;
    top: 30%;
    right: 2%;
  }
}
@media (min-width: 800px) {
  .main__form__All ul li i {
    font-size: 25px;
    padding: 6px 10px;
    top: 25%;
    right: 2%;
  }
}
@media (min-width: 1000px) {
  .main__form__All ul li i {
    font-size: 30px;
    padding: 8px 12px;
    top: 26%;
    right: 1%;
  }
}
@media (min-width: 1100px) {
  .main__form__All ul li i {
    font-size: 20px;
    padding: 8px 12px;
    top: 32%;
    right: 2%;
  }
}
.main__form__All ul li i:hover {
  color: white;
  background-color: red;
}
.main__form__All ul li p {
  font-size: 20px;
  margin: 5px 10px 10px 10px;
  text-align: center;
  overflow: hidden;
}
@media (min-width: 600px) {
  .main__form__All ul li p {
    font-size: 25px;
  }
}
@media (min-width: 1000px) {
  .main__form__All ul li p {
    font-size: 32px;
    margin: 5px 10px 20px 10px;
  }
}
.main__form__All ul li p::before {
  content: "";
  width: 80%;
  position: absolute;
  left: 5%;
  top: 50%;
  height: 2px;
  background-color: #a2d2ff;
}
@media (min-width: 450px) {
  .main__form__All ul li p::before {
    width: 85%;
  }
}
@media (min-width: 1000px) {
  .main__form__All ul li p::before {
    width: 87%;
  }
}
@media (min-width: 1100px) {
  .main__form__All ul li p::before {
    width: 80%;
  }
}
@media (min-width: 1500px) {
  .main__form__All ul li p::before {
    width: 85%;
  }
}
.main__form__All ul li h3 {
  font-size: 15px;
  margin: 0px 0px 5px 0px;
  text-align: center;
}
@media (min-width: 600px) {
  .main__form__All ul li h3 {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .main__form__All ul li h3 {
    font-size: 22px;
    margin: 0px 0px 10px 0px;
  }
}

.main__reasult {
  position: relative;
  height: 325px;
  background-color: white;
  margin: 12% 5% 5% 5%;
  border-radius: 20px;
  border: 1px solid silver;
  box-shadow: 0 0 15px silver;
}
@media (min-width: 1100px) {
  .main__reasult {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    top: 61%;
    height: 250px;
    margin: 26px 5% 0% 5%;
  }
}
@media (min-width: 600px) {
  .main__reasult {
    height: 350px;
    margin: 8% 5% 5% 5%;
  }
}
@media (min-width: 1100px) {
  .main__reasult {
    height: 282px;
    margin: 2% 5% 5% 5%;
  }
}
.main__reasult input {
  border-radius: 15px;
}
.main__reasult i {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (min-width: 600px) {
  .main__reasult i {
    font-size: 35px;
  }
}
@media (min-width: 1100px) {
  .main__reasult i {
    font-size: 30px;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    color: black;
  }
  50% {
    color: #00a6fb;
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    color: black;
  }
  50% {
    color: #00a6fb;
  }
  100% {
    transform: rotate(360deg);
  }
}
.main__reasult__circle {
  width: 270px;
  height: 270px;
  background-color: #a2d2ff;
  position: relative;
  top: 8%;
  margin: 0% auto;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #a2d2ff;
}
@media (min-width: 600px) {
  .main__reasult__circle {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 800px) {
  .main__reasult__circle {
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 1100px) {
  .main__reasult__circle {
    width: 300px;
    height: 250px;
    top: 5%;
  }
}
.main__reasult__circle p {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
}
@media (min-width: 600px) {
  .main__reasult__circle p {
    font-size: 45px;
  }
}
@media (min-width: 800px) {
  .main__reasult__circle p {
    font-size: 50px;
  }
}
@media (min-width: 1100px) {
  .main__reasult__circle p {
    font-size: 40px;
  }
}
.main__reasult__circle p::before {
  content: "";
  width: 90%;
  position: absolute;
  left: 5%;
  top: 50%;
  height: 2px;
  background-color: black;
}
.main__reasult__circle input {
  text-align: center;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  width: 200px;
  outline-color: red;
  font-weight: bold;
}
@media (min-width: 800px) {
  .main__reasult__circle input {
    width: 250px;
  }
}
@media (min-width: 600px) {
  .main__reasult__circle input {
    font-size: 45px;
  }
}
@media (min-width: 800px) {
  .main__reasult__circle input {
    font-size: 50px;
  }
}
@media (min-width: 1100px) {
  .main__reasult__circle input {
    font-size: 40px;
    width: 300px;
  }
}

.main__reasult__add {
  width: 270px;
  height: 270px;
  background-color: #a2d2ff;
  position: relative;
  top: 8%;
  margin: 0% auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #a2d2ff;
}
@media (min-width: 600px) {
  .main__reasult__add {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 800px) {
  .main__reasult__add {
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 1100px) {
  .main__reasult__add {
    width: 300px;
    height: 250px;
    top: 5%;
  }
}
.main__reasult__add label {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 25%;
}
@media (min-width: 800px) {
  .main__reasult__add label {
    font-size: 30px;
    top: 20%;
  }
}
@media (min-width: 1100px) {
  .main__reasult__add label {
    top: 22%;
    font-size: 25px;
  }
}
.main__reasult__add #input3 {
  position: absolute;
  top: 45%;
  height: 40px;
  width: 200px;
  padding-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
@media (min-width: 800px) {
  .main__reasult__add #input3 {
    width: 250px;
  }
}
@media (min-width: 1100px) {
  .main__reasult__add #input3 {
    width: 220px;
  }
}
.main__reasult__add #Btn3 {
  position: absolute;
  top: 75%;
  height: 30px;
  width: 90px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
@media (min-width: 800px) {
  .main__reasult__add #Btn3 {
    width: 150px;
  }
}
@media (min-width: 1100px) {
  .main__reasult__add #Btn3 {
    width: 120px;
  }
}
.main__reasult__add #Btn3:hover {
  background-color: white;
  color: black;
}
.main__reasult__add #Btn3:active {
  transform: scale(1.05);
}/*# sourceMappingURL=App.css.map */